main/Appy/Appy/Service References/BrowsersApi/AppDirect.WindowsClient.Common.API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="IApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertCount" type="xs:int" />
      <xs:element minOccurs="0" name="BrowserHeight" type="xs:int" />
      <xs:element minOccurs="0" name="BrowserResizable" type="xs:boolean" />
      <xs:element minOccurs="0" name="BrowserWidth" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalApp" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocalImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IApplication" nillable="true" type="tns:IApplication" />
  <xs:complexType name="Application">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IApplication">
        <xs:sequence>
          <xs:element name="_x003C_AlertCount_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_BrowserHeight_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_BrowserResizable_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_BrowserWidth_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ImagePath_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_IsLocalApp_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_LocalImagePath_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_PinnedToTaskbar_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_Price_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_UrlString_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
  <xs:complexType name="LocalApplication">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Application">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalApplication" nillable="true" type="tns:LocalApplication" />
  <xs:complexType name="ArrayOfIApplicationWithState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IApplicationWithState" nillable="true" type="tns:IApplicationWithState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIApplicationWithState" nillable="true" type="tns:ArrayOfIApplicationWithState" />
  <xs:complexType name="IApplicationWithState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application" nillable="true" type="tns:IApplication" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="WindowState" type="q1:WindowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IApplicationWithState" nillable="true" type="tns:IApplicationWithState" />
  <xs:complexType name="ApplicationWithState">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IApplicationWithState">
        <xs:sequence>
          <xs:element name="_x003C_Application_x003E_k__BackingField" nillable="true" type="tns:IApplication" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Windows" name="_x003C_WindowState_x003E_k__BackingField" type="q2:WindowState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationWithState" nillable="true" type="tns:ApplicationWithState" />
  <xs:complexType name="IAppDirectSession">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Cookies" nillable="true" type="q3:ArrayOfCookie" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IAppDirectSession" nillable="true" type="tns:IAppDirectSession" />
  <xs:complexType name="AppDirectSession">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IAppDirectSession">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Net" name="_x003C_Cookies_x003E_k__BackingField" nillable="true" type="q4:ArrayOfCookie" />
          <xs:element name="_x003C_ExpirationDate_x003E_k__BackingField" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppDirectSession" nillable="true" type="tns:AppDirectSession" />
  <xs:complexType name="ArrayOfIApplication">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IApplication" nillable="true" type="tns:IApplication" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIApplication" nillable="true" type="tns:ArrayOfIApplication" />
  <xs:complexType name="ArrayOfIWindowData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IWindowData" nillable="true" type="tns:IWindowData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIWindowData" nillable="true" type="tns:ArrayOfIWindowData" />
  <xs:complexType name="IWindowData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="WindowState" type="q5:WindowState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IWindowData" nillable="true" type="tns:IWindowData" />
  <xs:complexType name="WindowData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IWindowData">
        <xs:sequence>
          <xs:element name="_x003C_ApplicationId_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Windows" name="_x003C_WindowState_x003E_k__BackingField" type="q6:WindowState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WindowData" nillable="true" type="tns:WindowData" />
</xs:schema>