main/Appy/Appy/Service References/BrowsersApi/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" />
  <xs:element name="DisplayApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" minOccurs="0" name="application" nillable="true" type="q1:IApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" minOccurs="0" name="newSession" nillable="true" type="q2:IAppDirectSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateApplications">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" minOccurs="0" name="applications" nillable="true" type="q3:ArrayOfIApplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseAllApplicationsAndQuit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>