main/Appy/Appy.Browser/Service References/MainApp/AppDirect.WindowsClient.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" />
  <xs:complexType name="Application">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" base="q1:IApplication">
        <xs:sequence>
          <xs:element name="_x003C_AlertCount_x003E_k__BackingField" type="xs:int" />
          <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Id_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ImagePath_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_IsLocalApp_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_LocalImagePath_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_UrlString_x003E_k__BackingField" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Application" nillable="true" type="tns:Application" />
</xs:schema>