main/Appy/Appy.Browser/Service References/MainApp/AppDirect.WindowsClient.API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" />
  <xs:complexType name="AppDirectSession">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" base="q1:IAppDirectSession">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" name="_x003C_Cookies_x003E_k__BackingField" nillable="true" type="q2:ArrayOfCookie" />
          <xs:element name="_x003C_ExpirationDate_x003E_k__BackingField" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppDirectSession" nillable="true" type="tns:AppDirectSession" />
</xs:schema>