main/Appy/Appy.Browser/Service References/MainApp/AppDirect.WindowsClient.Common.API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="IApplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertCount" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocalApp" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocalImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlString" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IApplication" nillable="true" type="tns:IApplication" />
  <xs:complexType name="IAppDirectSession">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Cookies" nillable="true" type="q1:ArrayOfCookie" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IAppDirectSession" nillable="true" type="tns:IAppDirectSession" />
</xs:schema>