main/Appy/Appy.Browser/Service References/MainApp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainApplication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AppDirect.WindowsClient.MainApplication_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Common.API" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AppDirect.WindowsClient.API" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainApplication_GetApplicationById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationById" />
  </wsdl:message>
  <wsdl:message name="IMainApplication_GetApplicationById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMainApplication_GetCurrentSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSession" />
  </wsdl:message>
  <wsdl:message name="IMainApplication_GetCurrentSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IMainApplication_CloseWindow_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CloseWindow" />
  </wsdl:message>
  <wsdl:message name="IMainApplication_CloseWindow_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CloseWindowResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainApplication">
    <wsdl:operation name="GetApplicationById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainApplication/GetApplicationById" message="tns:IMainApplication_GetApplicationById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainApplication/GetApplicationByIdResponse" message="tns:IMainApplication_GetApplicationById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainApplication/GetCurrentSession" message="tns:IMainApplication_GetCurrentSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainApplication/GetCurrentSessionResponse" message="tns:IMainApplication_GetCurrentSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseWindow">
      <wsdl:output wsaw:Action="http://tempuri.org/IMainApplication/CloseWindow" message="tns:IMainApplication_CloseWindow_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMainApplication/CloseWindowResponse" message="tns:IMainApplication_CloseWindow_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppDirect.WindowsClient.MainApplication" type="tns:IMainApplication">
    <wsp:PolicyReference URI="#AppDirect.WindowsClient.MainApplication_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="GetApplicationById">
      <soap12:operation soapAction="http://tempuri.org/IMainApplication/GetApplicationById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentSession">
      <soap12:operation soapAction="http://tempuri.org/IMainApplication/GetCurrentSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseWindow">
      <soap12:operation soapAction="http://tempuri.org/IMainApplication/CloseWindow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainApplication">
    <wsdl:port name="AppDirect.WindowsClient.MainApplication" binding="tns:AppDirect.WindowsClient.MainApplication">
      <soap12:address location="net.pipe://localhost/MainApplication" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/MainApplication</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ubuntudt\Artem</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>